extends layout.pug

block content
    h1= title
    photography.photography
        section.content!= typogr(page.html).typogrify()
    div.photo-grid
        div.photo-grid-item
            img(src=(locals.url + '/assets/images/9fe51fdc-666f-471e-a0aa-12fb27d8d5eb.JPG'), alt='Description')
            div.description 2022-05-25 Manhattan, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/assets/images/af1874ac-3277-435d-83dd-5ba41fb4b7af.JPG', alt='Description')
            div.description 2023-01-01 The Eiffel Tower, Paris, France
        div.photo-grid-item
            img(src=locals.url +'/assets/images/0a94d7f5-834a-4567-86db-93f1ce8dc3ca.JPG', alt='Description')
            div.description 2023-04-07 London City, London, United Kingdom
        div.photo-grid-item
            img(src=locals.url +'/assets/images/9977ee3f-d4bd-4ce6-a57c-04397898b222.JPG', alt='Description')
            div.description 2021-11-13 Ghost at the 'Secret Lake', Portmarnock, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/405c8f8c-f5e2-4c5b-9169-d73d64c498fc.JPG', alt='Description')
            div.description 2021-08-22 Glendalough, Co. Wicklow, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/c34f6ab4-56ac-444c-b95a-dec60e5cf007.JPG', alt='Description')
            div.description 2018-07-15 Alfama, Lisbon, Portugal
        div.photo-grid-item
            img(src=locals.url +'/assets/images/2add6d50-7a3e-4142-9707-b3d7d0e8ed7e.JPG', alt='Description')
            div.description 2023-01-01 Rockefeller Tower, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/assets/images/974cd93c-b89d-4947-b1b4-dbe3fe888110.JPG', alt='Description')
            div.description 2023-07-30 Mexican stand off with a Deer (zoom in), Hellfire Club, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/9b08eb13-85ae-4ef2-8722-c78ce0234567.JPG', alt='Description')
            div.description 2023-03-11 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=(locals.url + '/assets/images/954b63bd-6d61-447c-9d8a-99d00a303c77.JPG'), alt='Description')
            div.description 1997-08-25 Doing a space walk the day after I was born, The Atmosphere, Earth
        div.photo-grid-item
            img(src=locals.url +'/assets/images/302ba015-317b-457e-86e4-6177a16327a3.JPG', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/0933d840-61b9-416a-a9d1-4c0d94e6de31.JPG', alt='Description')
            div.description 2023-07-30 Luisa and I, Hellfire Club, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/2d8324a2-e783-47d8-aa1c-3891e7a8b541.JPG', alt='Description')
            div.description 2022-05-23 Portmarnock Burrow Beach, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/2aaeb586-ccfd-4456-a599-43bf55750257.JPG', alt='Description')
            div.description 2022-05-23 Vincent Van Gogh self-portrait, Metropolitan Museum of Art, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/assets/images/3cf5f5a9-843c-44e2-9482-45c765a84d30.JPG', alt='Description')
            div.description 2022-01-23 Hawthornbank Lane Edinburgh, United Kingdom
        div.photo-grid-item
            img(src=locals.url +'/assets/images/228e8572-309a-4902-95e5-c1b873a0da6a.JPG', alt='Description')
            div.description 2023-07-30 Hellfire Club, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/60a53698-deec-4b91-94a8-5513e534c24a.JPG', alt='Description')
            div.description 2022-09-18 Glendalough, Co. Wicklow, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/18cf58c6-db66-427a-9098-fe9ad195011d.JPG', alt='Description')
            div.description 2021-07-03 Cliffs of Moher, Co. Clare, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/a40ef176-2a99-45e5-82a4-f4cd15cf9822.JPG', alt='Description')
            div.description 2021-07-02 The Burrren, Co. Clare, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/f374a34d-3bd7-48a9-ac5f-e43a3221482a.JPG', alt='Description')
            div.description 2023-08-05 The Coliseum by night, Rome, Italy
        div.photo-grid-item
            img(src=locals.url +'/assets/images/8ea4d597-b6a9-46da-bc2b-c9d935fd73dc.JPG', alt='Description')
            div.description 2023-08-04 The Coliseum by day, Rome, Italy
        div.photo-grid-item
            img(src=locals.url +'/assets/images/bfce978c-f6e5-4004-845f-9dbb9088c0d3.JPG', alt='Description')
            div.description 2018-10-14 Sacré Cœur, Paris, France
        div.photo-grid-item
            img(src=locals.url +'/assets/images/232afccf-fb3e-443d-af60-c1c67a6189d0.JPG', alt='Description')
            div.description 2018-09-05 Museum of Modern Art, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/8dc81083-7a91-4096-ad91-79f8528f8125.JPG', alt='Description')
            div.description 2022-08-27 My brother and I, Lincoln Inn Pub, Co. Dublin, Ireland
        div.photo-grid-item
            img(src=locals.url +'/assets/images/81aaf960-a324-430c-90d1-b752fb6d58bd.JPG', alt='Description')
            div.description 2023-08-05 The Pantheon, Rome, Italy
        div.photo-grid-item
            img(src=locals.url + '/assets/images/5013cd79-eab7-4e60-9676-909e09afde54.JPG', alt='Description')
            div.description 2023-08-05 The Pantheon, Rome, Italy
        div.photo-grid-item
            img(src=locals.url + '/assets/images/9492d555-5520-4afb-8669-7c26d4a58133.JPG', alt='Description')
            div.description 2023-08-05 The Pantheon, Rome, Italy
        div.photo-grid-item
            img(src=locals.url + '/assets/images/bf964f29-9a5b-4f2a-baa3-d9c54003c6f2.JPG', alt='Description')
            div.description 2023-08-05 The Pantheon, Rome, Italy
