extends layout.pug

block content
    h1= title
    photography.photography
        section.content!= typogr(page.html).typogrify()
    div.photo-grid
        div.photo-grid-item
            img(src=locals.url +'/images/e5c3a4f2-ea12-4fb5-bd9d-611df3b51c16.JPG', alt='Description')
            div.description 2023-01-01 Manhattan, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/images/920dbb2e-2ede-4a67-8732-4ea2de85bf92.JPG', alt='Description')
            div.description 2023-01-01 Paris, France
        div.photo-grid-item
            img(src=locals.url +'/images/1686659203288.JPG', alt='Description')
            div.description 2023-01-01 London City, London, United Kingdom
        div.photo-grid-item
            img(src=locals.url +'/images/1686659202282.JPG', alt='Description')
            div.description 2023-01-01 Ghost at the 'Secret Lake', Portmarnock, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/1686314887823.JPG', alt='Description')
            div.description 2023-01-01 Glendalough, Co. Wicklow, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/1686314888427.JPG', alt='Description')
            div.description 2023-01-01 Alfama, Lisbon, Portugal
        div.photo-grid-item
            img(src=locals.url +'/images/1686659202750.JPG', alt='Description')
            div.description 2023-01-01 Rockefeller Tower, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_2363.jpg', alt='Description')
            div.description 2023-01-01 Rockefeller Tower, New York City, United States
        div.photo-grid-item
            img(src=locals.url +'/images/fjnfke.JPG', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_1635.JPG', alt='Description')
            div.description 1997-08-25 Me doing a space walk the day after I was born, The Atmosphere, Earth

        div.photo-grid-item
            img(src=locals.url +'/images/1686314888127.JPG', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/c8dd051b-d990-4338-bb32-d8f8cefdc7ca.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_6622.JPG', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_7379.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_6253.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_2374.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_9163.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_4730.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/test.JPG', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_0931.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_2457.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/c9f8ca33-c78d-443f-bd4f-5e6078f67386.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMAG0168.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/bed47565-35fc-4cb5-986d-2b049fd1bf07.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland
        div.photo-grid-item
            img(src=locals.url +'/images/IMG_0905.jpg', alt='Description')
            div.description 2023-01-01 Finnlough Spa & Retreat, Co. Fermanagh, Ireland

